mixin thumbcard(Rank)
  .col-md-4
    .card.mb-4.shadow-sm
      svg.bd-placeholder-img.card-img-top&attributes({"width": "100%"}, {"height": "225"}, {"focusable": "false"}, {"role": "img"})
        title #{Tournament.name}
        rect(width="100%" height="100%" fill="#55595c")
        text(x="50%" y="50%" fill="#eceeef" dy=".3em") #{Tournament.name}
      .card-body
        .card-text du #{Tournament.startdate.getDate() + "/" + Tournament.startdate.getMonth() + "/" + Tournament.startdate.getFullYear() + " " + Tournament.startdate.getHours() + "h:" + Tournament.startdate.getMinutes() + "min"}
        .card-text.mb-4 jusqu'au #{Tournament.enddate.getDate() + "/" + Tournament.enddate.getMonth() + "/" + Tournament.enddate.getFullYear() + " " + Tournament.enddate.getHours() + "h:" + Tournament.enddate.getMinutes() + "min"}
        .card-text.mb-4 Type de tournoi : #{Tournament.type}
        .card-text.mb-4 Variante de jeu : #{Tournament.gameVariant}
        .card-text.mb-4 Niveau de jeu : #{Tournament.level}
        .d-flex.justify-content-between.align-items-center
          .btn-group
            a.btn.btn-sm.btn-outline-secondary(href=`/tournament/show/${Tournament._id}`) Détails
            a.btn.btn-sm.btn-outline-secondary(href=`/tournament/edit/${Tournament._id}`) Editer
            a.btn.btn-sm.btn-outline-secondary(href=`/tournament/delete/${Tournament._id}`) Supprimer
