mixin thumbcard(Rank)
  .col-md-4
    .card.mb-4.shadow-sm
      svg.bd-placeholder-img.card-img-top&attributes({"width": "100%"}, {"height": "225"}, {"focusable": "false"}, {"role": "img"})
        title #{Rank.name}
        rect(width="100%" height="100%" fill="#55595c")
        text(x="50%" y="50%" fill="#eceeef" dy=".3em") #{Rank.name}
      .card-body
        .card-text #{Rank.Status}
        .card-text.mb-4 Type de tournoi : #{Rank.type}
        .card-text.mb-4 Variante de jeu : #{Rank.gameVariant}
        .card-text.mb-4 Niveau de jeu : #{Rank.level}
        .d-flex.justify-content-between.align-items-center
          .btn-group
            a.btn.btn-sm.btn-outline-secondary(href=`/ranks/show/${Rank._id}`) Détails (classement)
            a.btn.btn-sm.btn-outline-secondary(href=`/ranks/edit/${Rank._id}`) Editer un score
            a.btn.btn-sm.btn-outline-secondary(href=`/ranks/delete/${Rank._id}`) Supprimer un score
