extends ../layout

block content
	ul.list-group
		li.list-group-item.active #{player.firstname} #{player.lastname}
		li.list-group-item Sexe: #{player.gender}
		li.list-group-item Adresse Mail:  #{player.mail}
		li.list-group-item Niveau de jeu: #{player.level}
		li.list-group-item Status: #{player.status}
		li.list-group-item Nombre de jeton restant: #{player.numberPokerChipsRemaining}
		li.list-group-item Table de démarage: #{player.Table.name}
		li.list-group-item Inscrit au tounois: #{player.Tournament.name}