extends ../layout

block content
	ul.list-group
		li.list-group-item.active #{firstname} #{lastname}
		li.list-group-item Sexe: #{gender}
		li.list-group-item Adresse Mail:  #{mail}
		li.list-group-item Nom d'utilisateurs: #{userName}
		li.list-group-item Type de compte: #{type}